<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">

		<target xsi:type="Database"
				name="databaseTarget"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
				connectionString="Server=YOUR_SERVER;Database=LibraryDB;User Id=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=True;">

			<commandText>
				INSERT INTO LogTable (TimeStamp, LogLevel, Message, Exception, Logger)
				VALUES (@time, @level, @msg, @ex, @logger);
			</commandText>

			<parameter name="@time" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@msg" layout="${message}" />
			<parameter name="@ex" layout="${exception:format=tostring}" />
			<parameter name="@logger" layout="${logger}" />
		</target>

		<target xsi:type="File" name="fileTarget" fileName="logs/app-log.txt" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="fileTarget,databaseTarget" />
	</rules>
</nlog>
